<%= form_for @topic, html: {id: 'topic-form', class: 'form-horizontal'} do |f| %>
  <%= render("shared/form_errors", :target => @topic) if @topic %>

  <div class="control-group">
    <%= f.label :subject, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, class: 'input-xxlarge' %>
    </div>
  </div>

  <%= f.fields_for :posts do |p| %>
    <%= render 'forum_posts/wysihtml5_menu' %>
    <%= p.text_area(:text, id: 'wysihtml5-textarea', class: 'input-block-level wysihtml5', rows: 6, placeholder: "Enter your text ...") %>
    <div class="form-actions">
      <%= p.hidden_field :forum_topic_id %>
      <%= hidden_field_tag 'image_ids' %>
      <%= p.submit 'Add post', id: 'submitBtn', class: 'btn', data: {'loading-text' => 'Posting...'} %>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :forum_id %>
      <%= f.submit class: 'button' %>
    </div>
  </div>

<% end %>

  <script>
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "toolbar", // id of toolbar element
    stylesheets:  "/assets/wysihtml5.css",
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  </script>
