<ul class="breadcrumb">
  <li><%= link_to 'Topics', forums_path(@course) %>  <span class="divider">/</span></li>
  <li class="active"><%= @forum.name %></li>
</ul>
<div class="page-header">
  <h1><%= @forum.name %></h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Discussion 
        <%= link_to 'Start new topic', new_forum_topic_path(@course, @forum), class: 'btn btn-small btn-new-topic' %>
      </th>
      <th>Posts</th>
      <th>Views</th>
    </tr>
  </thead>
  <tbody>
<%= render @topics %>
  </tbody>
</table>
