<div id="course-banner">
  <h1><%= link_to @course.name, user_course_path(@course) %> <small> by <%= @course.instructor_name %></small></h1>
</div>
<div class="container" id="full_content">
  <ul class="breadcrumb">
    <li><%= link_to 'Topics', forums_path(@course) %>  <span class="divider">/</span></li>
    <li class="active"><%= @forum.name %></li>
  </ul>
  <h2><%= @forum.name %></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Discussion 
          <%= link_to 'Start new topic', new_forum_topic_path(@course, @forum), class: 'btn btn-small btn-new-topic' %>
        </th>
        <th>Posts</th>
        <th>Views</th>
      </tr>
    </thead>
    <tbody>
    <%= render @topics %>
    </tbody>
  </table>
</div>
