<ul class="breadcrumb">
  <li><%= link_to 'Topics', forums_path(@course) %>  <span class="divider">/</span></li>
  <li><%= link_to @forum.name, forum_topics_path(@course, @forum) %>  <span class="divider">/</span></li>
  <li class="active"><%= @topic.subject %></li>
</ul>
<div class="page-header">
  <h3><%= @topic.subject %></h3>
</div>
<ul id="forum-posts" class="media-list">
  <%= render @topic.posts %>
</ul>

<%= render 'forum_posts/form' %>
