<div class="container" id="full_content">
  <ul class="breadcrumb">
    <li><%= link_to 'Topics', forums_path(@course) %>  <span class="divider">/</span></li>
    <li><%= link_to @forum.name, forum_topics_path(@course, @forum) %>  <span class="divider">/</span></li>
    <li class="active"><%= @topic.subject %></li>
  </ul>
  <div class="page-header">
    <h2><%= @topic.subject %></h2>
  </div>
  <div id="forum-posts">
    <%= render @topic.posts %>
  </div>

  <div class="page-header">
    <h4>New Post</h4>
  </div>

  <%= render 'forum_posts/form' %>
</div>
