<div class="page-header">
  <h4 class="pull-right">by <%= @course.instructor_name %></h4>
  <h1><%= @course.name %></h1>
</div>

<%= render partial: 'shared/playlist_player', locals: { video_list: '2360128659001'} %>

<div id="rating" class="well well-small">
  <span><%= @course.rated_by?(current_user) ? 'Your rating' : 'Rate this course' %>:</span> <div data-courseid="<%= @course.id %>" data-rateit-resetable="false" data-rateit-value="<%= @rating %>" class="rateit"></div>
</div>

<%= link_to 'Class Forum', forums_path(@course), class: 'btn btn-info' %>
