<div class="page-header">
  <h4 class="pull-right">by <%= @course.instructor_name %></h4>
  <h1><%= @course.name %></h1>
</div>

<%= render partial: 'shared/playlist_player', locals: { video_list: '2360128659001'} %>

<div class="well well-small">
  <ul id="response"></ul>
  Rate this course: <div data-courseid="<%= @course.id %>" data-rateit-resetable="false" class="rateit"></div>
</div>

<%= link_to 'Class Forum', '#', class: 'btn btn-info' %>
