<%= form_for @enrollment do |f| %>

  <% if @enrollment.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>
      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :course_id %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

<% end %>
