<%= form_for @enrollment, url: enrollments_path, html: {id: 'enrollment', class: 'form-horizontal'} do |f| %>
  <fieldset>

  <% unless user_signed_in? %>
    <legend>Account Information <small><%= link_to 'Already a member?', new_user_session_path %></small></legend>

    <%= render("shared/form_errors", :target => @user) if @user %>

    <%= fields_for :user do |user_fields| %>
      <div class="control-group">
      <%= user_fields.label :first_name, 'First Name', class: 'control-label' %>
        <div class="controls">
          <%= user_fields.text_field :first_name %>
        </div>
      </div>

      <div class="control-group">
      <%= user_fields.label :last_name, 'Last Name', class: 'control-label' %>
        <div class="controls">
          <%= user_fields.text_field :last_name %>
        </div>
      </div>

      <div class="control-group">
      <%= user_fields.label :email, class: 'control-label' %>
        <div class="controls">
          <%= user_fields.text_field :email, autofocus: true %>
        </div>
      </div>

      <div class="control-group">
        <%= user_fields.label :password, 'Password', class: 'control-label' %>
        <div class="controls">
          <%= user_fields.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <%= user_fields.label :password_confirmation, class: 'control-label' %>
        <div class="controls">
          <%= user_fields.password_field :password_confirmation %>
        </div>
      </div>

    <% end %>
  <% end %>

    <legend>Payment Information </legend>

    <%= render "shared/form_errors", :target => @enrollment %>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>

    <% unless @course.released? %> 
    <div class="alert alert-info">
      <strong>Don't worry.</strong>Your card will not be charged until the course is released.
    </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= image_tag 'visa.png' %>
        <%= image_tag 'mastercard.png' %>
        <%= image_tag 'discover.png' %>
        <%= image_tag 'american_express.png' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :card_number, "Credit Card Number ", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :card_number, nil, name: nil, class: 'span2', data: {stripe: 'number'} %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :card_code, "Security Code (CVV)", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :card_code, nil, name: nil, class: 'span1', data: {stripe: 'cvc'}%>
        <%= image_tag 'cvv.png', class: 'cvv_icon' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :card_month, "Card Expiration", class: 'control-label' %>
      <div class="controls">
        <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", class: 'span2', data: {stripe: 'exp-month'}} %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: 'span2', data: {stripe: 'exp-year'}}%>
      </div>
    </div>

    <%= f.hidden_field :course_id %>
    <%= f.hidden_field :stripe_token %>
    <%= f.hidden_field :promotion_id %>
    <%= f.hidden_field :course_price %>

    <%= f.submit "Complete #{(@course.released? ? 'Purchase' : 'Pre-Order')}", class: 'btn btn-primary' %>

  </fieldset>
<% end %>
