<div id="response">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="preOrderFormLabel">Congratulations!</h3>
  </div>

  <div class="modal-body">
    <p>You're enrolled in <strong><%= @course.instructor_name %>'s</strong> class on <strong><%= @course.name %></strong>.</p>
    <%= link_to 'Go To Class', user_course_path(@course), class: 'btn' %>
    <% if @promo %>
      <p>Invite your friends so that they can enjoy the special pre-order price too. Send them a link to <strong><%= promotion_url @promo %></strong> or share on your social channels.</p>
    <% end %>
    <div>
      <%= render partial: 'shared/twitter_button', locals: {text: "Take this awesome @course with me!"} %> 
      <%= render partial: 'shared/facebook_button', locals: {url: course_url(@course)} %>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>
