<% content_for :head do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">Stripe.setPublishableKey("<%= STRIPE_PUBLIC_KEY %>");</script>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <h2><%= @course.instructor_name %> <small>teaches</small></h2>
      <h3><%= @course.name %></h3>
      <%= render partial: 'shared/video_player', locals: { video_player: '2361189644001'} %>
      <h4>About the Class</h4>
      <%= @course.description %>
      <h4>About <%= @course.instructor_name %></h4>
      <p><%= @course.instructor_description %></p>
    </div>
    <div class="span3">

<% if user_signed_in? && @course.has_preordered_student?(current_user) %>

      <div class="well">
        You have already pre-ordered this course. <%= link_to 'View your courses', user_root_path %>
      </div>

    </div><!-- end span3 -->
  </div><!-- end row-fluid -->
</div><!-- end container-fluid -->

<% else %>

      <div class="well">
        <em>Special promotional price!</em>
        <h3><%= number_to_currency @course.price %></h3>
        <%= render "shared/form_errors", :target => @enrollment %>
        <%= render("shared/form_errors", :target => @user) if @user %>
        <a href="#preOrderForm" role="button" class="btn btn-primary" data-toggle="modal">Pre-Order</a>
      </div>

    </div><!-- end span3 -->
  </div><!-- end row-fluid -->
</div><!-- end container-fluid -->

<%= render 'form' %>

<% end %>
