<div class="course_thumb">
  <div class="meta">
      <h3><%= link_to course.name, (user_signed_in? && course.has_student?(current_user)) ? user_course_path(course) : course %></h3>
      <span class="instructor">by <a href="#"><%= course.instructor_name %></a></span>
      <span class="hours_left"><%=image_tag('clock_white.png')%>Only <span class="highlight">10</span> hours left for this course</span>
      <div class="rating"><span>Average Rating</span> <div class="rating_stars" data-rating="4"></div></div>
      <span class="price"><%= course.price %></span>
  </div>
  <%=image_tag course.image_url %>
</div>
