<div>
  <h3><%= link_to course.name, course_path(course) %></h3>
  <strong><%= course.price %></strong>
  <div>
    <%= course.description %>
  </div>
  <h4><%= course.instructor_name %></h4>
  <div>
    <%= course.instructor_description %>
  </div>
</div>
