<script>
$(document).ready(function(){
    $('.rating_stars').each(function(){
        $(this).raty({
            number: 5,
            starOff: '/assets/star_off.png',
            starOn : '/assets/star_on.png',
            score: $(this).data('rating'),
            readOnly:true
        });
    });

})
</script>

<div class="hero">
  <div class="container">
    <h2><%= @course.tagline %></h2>
    <div class="instructor">
      <%=image_tag('avatar.png', :class=>"avatar")%>
      <h3><%= @course.instructor_name %></h3>
      <h4><%= @course.instructor_title %></h4>
    </div>
  </div>
</div>

<div class="container" id="main_content">

  <div class="course_content">
    <div class="summary">
      <h5>What you will learn:</h5>
      <div class="summary_text"><%= @course.description %></div>
    </div>

    <div id="video">
      <a href="#" class="play"></a>
      <%=image_tag('video.jpg')%>
    </div>

    <div id="chapters">
      <%= render @course.chapters %>
    </div>

    <div id="course_details" class="clearfix">
      <h4>Details</h4>
      <h5>Total <span class="highlight"><%= @course.total_hours %></span> hours to complete</h5>
      <div class="hours">
        <h6><%= @course.chapters.count %></h6>
        <span>Hours Video</span>
      </div>
      <div class="projects">
        <h6>2</h6>
        <span>Projects</span>
      </div>
      <div class="documents">
        <h6>4</h6>
        <span>Documents</span>
      </div>
    </div>

  </div>

  <div class="course_sidebar">
    <div class="buy_course">
      <% if user_signed_in? && @course.has_preordered_student?(current_user) %>
        <p>You have already pre-ordered this course.</p>
        <%= link_to "View your courses", user_root_path, :class=>"buy_button" %>
      <% else %>
          <span class="price"><%= number_to_currency(@course.price, :unit => "$") %></span>
          <p>including <%= @course.total_hours %> hours of courses</p>
        <%= link_to (@course.released? ? 'Take Course' : 'Pre-Order'), new_enrollment_path(@course), class: 'buy_button' %>
      <% end %>
      <span class="inscriptions">Only <span class="highlight">150</span> inscriptions left for this course</span>
    </div>

    <div class="features">
      <span class="feature" id="accesible"><span class="highlight">Accessible</span> Anywhere</span> 
      <span class="feature" id="moneyback"><span class="highlight">100%</span> Moneyback Guarentee</span> 
      <span class="feature" id="never_expires">Access <span class="highlight">Never</span> Expires</span> 
      <span class="feature" id="interact"><span class="highlight">Interact</span> with your instructor</span> 
    </div>

    <div id="course_students" class="clearfix">
      <span class="count"><span class="highlight">2230</span> Students are already taking this course</span>
      <div class="avatars clearfix">
        <%=image_tag('student.png')%>
        <%=image_tag('student.png')%>
        <%=image_tag('student.png')%>
        <%=image_tag('student.png')%>
        <%=image_tag('student.png')%>
      </div>
      <div class="rating"><span>Average Rating</span> <div class="rating_stars" data-rating="4"></div></div>
      <a href="#" class="reviews">250 reviews</a>
    </div>

   <div id="meet_your_hero">
     <%=image_tag('logo_small.png')%>
     <p>Be the best student & meet your hero!</p>
   </div> 

  </div>

</div>

<footer class="clearfix">
  <div class="top">
    <div class="container">
      <%=image_tag('copyright.png', :class=>"copyright")%>
      <div id="footer_nav">
        <a href="#">Terms of Use</a>
        <a href="#">Private Policy</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="container">
      <%=image_tag('credentials.png', :id=>"credentials")%>
    </div>
  </div>
</footer>
