<div class="page-header">
  <h1><%= @course.name %></h1>
</div>
<div>
  <strong><%= @course.price %></strong>
  <div>
    <%= @course.description %>
  </div>
  <h4><%= @course.instructor_name %></h4>
  <div>
    <%= @course.instructor_description %>
  </div>
  <% if @course.released? %>
    <%= link_to 'Take Course', new_enrollment_path(@course.id) %>
  <% else %>
    Coming soon. <%= link_to 'Pre-Order Now!', new_preorder_path(@course.id) %>
  <% end %>
</div>
