<div id="new-post">

  <%= form_for @topic.posts.new, remote: true, html: {id: 'post-form'} do |f| %>

    <%= render 'forum_posts/wysihtml5_menu' %>
    <%= f.text_area(:text, id: 'wysihtml5-textarea', class: 'input-block-level wysihtml5', rows: 6, placeholder: "Enter your text ...") %>
    <div class="form-actions">
      <%= f.hidden_field :forum_topic_id %>
      <%= hidden_field_tag 'image_ids' %>
      <%= f.submit 'Add post', id: 'submitBtn', class: 'btn', data: {'loading-text' => 'Posting...'} %>
    </div>
  <% end %>

  <script>
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "toolbar", // id of toolbar element
    stylesheets:  "/assets/wysihtml5.css",
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  </script>

</div>

<%= render 'forum_posts/insert_image' %>
