<div id="new-post">
  <div class="page-header">
    <h4>New Post</h4>
  </div>


  <div id="imageForm" class="well" style="display: none">
    <%= form_for ForumImage.new, :html => {:multipart => true}, :remote => true do |f| %>
      <p>
        <label>Pick a file:</label>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </p>
      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </div>

  <%= form_for @topic.posts.new, remote: true, html: {id: 'post-form'} do |f| %>


    <div id="toolbar" style="display: none;">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn" data-wysihtml5-command="bold" title="CTRL+B" href="javascript:;" unselectable="on">Bold</a>
          <a class="btn" data-wysihtml5-command="italic" title="CTRL+I" href="javascript:;" unselectable="on">Italic</a>
        </div>

        <div class="btn-group">
          <a class="btn" data-wysihtml5-command="insertUnorderedList" title="Unordered List" href="javascript:;" unselectable="on">
            <i class="icon-list"></i>
          </a>
          <a class="btn" data-wysihtml5-command="insertOrderedList" title="Ordered List" href="javascript:;" unselectable="on">
            <i class="icon-th-list"></i>
          </a>
        </div>

        <div class="btn-group">
          <a class="btn" data-wysihtml5-command="createLink" title="Insert a link" href="javascript:;" unselectable="on">
            <i class="icon-link"></i>
          </a>
        </div>

        <div class="btn-group">
          <button id="insertImage" class="btn" type="button">
            <i class="icon-picture"></i>
          </button>
        </div>
      </div>

      <div data-wysihtml5-dialog="createLink" class="well" style="display: none;">
        <div class="input-append">
          <input data-wysihtml5-dialog-field="href" value="http://" type="text">
          <button data-wysihtml5-dialog-action="save" class="btn btn-primary" type="button">Link</button>
          <button data-wysihtml5-dialog-action="cancel" class="btn" type="button">Cancel</button>
        </div>
      </div>
      <%#<a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |%>
      <%#<a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |%>
      <%#<a data-wysihtml5-command="createLink">insert link</a> |%>
      <%#<a data-wysihtml5-command="insertImage">insert image</a> |%>
      <%#<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |%>
      <%#<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |%>
      <%#<a data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a> |%>
      <%#<a data-wysihtml5-command="insertOrderedList">insertOrderedList</a> |%>
      <%#<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a> |%>
      <%#<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a> |%>
      <%#<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a> |%>
      <%#<a data-wysihtml5-command="undo">undo</a> |%>
      <%#<a data-wysihtml5-command="redo">redo</a> |%>
      <%#<a data-wysihtml5-command="insertSpeech">speech</a>%>
      <%#<a data-wysihtml5-action="change_view">switch to html view</a>%>
      

      <%#<div data-wysihtml5-dialog="insertImage" style="display: none;">%>
        <%#<input type="file" title="Search for a file to add">%>
      <%#</div>%>
      <%#<div data-wysihtml5-dialog="insertImage" style="display: none;">%>
        <%#<div class="input-append">%>
          <%#<input data-wysihtml5-dialog-field="href" value="http://" type="text">%>
          <%#<button data-wysihtml5-dialog-action="save" class="btn btn-primary" type="button">Insert</button>%>
          <%#<button data-wysihtml5-dialog-action="cancel" class="btn" type="button">Cancel</button>%>
        <%#</div>%>

        <%#<label>%>
          <%#Image:%>
          <%#<input data-wysihtml5-dialog-field="src" value="http://">%>
        <%#</label>%>
        <%#<label>%>
          <%#Align:%>
          <%#<select data-wysihtml5-dialog-field="className">%>
            <%#<option value="">default</option>%>
            <%#<option value="wysiwyg-float-left">left</option>%>
            <%#<option value="wysiwyg-float-right">right</option>%>
          <%#</select>%>
        <%#</label>%>
        <%#<a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>%>
      <%#</div>%>
      
    </div>
    <%= f.text_area(:text, id: 'wysihtml5-textarea', class: 'input-block-level wysihtml5', rows: 6, placeholder: "Enter your text ...") %>
    <div class="form-actions">
      <%= f.hidden_field :forum_topic_id %>
      <%#= f.hidden_field :image_ids %>
      <%= hidden_field_tag 'image_ids' %>
      <%= f.submit 'Add post', id: 'submitBtn', class: 'btn', data: {'loading-text' => 'Posting...'} %>
    </div>
  <% end %>

  <script>
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "toolbar", // id of toolbar element
    stylesheets:  "/assets/wysihtml5.css",
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  </script>

</div>
