
<h2 id="almost_done">You're almost done! Now create a password to securely access your account.</h2>

<div id="board_user">
<%= form_for(resource, :as => resource_name, :url => confirm_path, html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :full_name, 'Full Name', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, 'Password', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <%= f.hidden_field :confirmation_token %>

  <%= f.button 'Confirm Account', class: 'button', data: {'loading-text' => 'Processing...'} %>
<% end %>
</div>

<footer class="clearfix">
  <div class="top">
    <div class="container">
      <%=image_tag('copyright.png', :class=>"copyright")%>
      <div id="footer_nav">
        <a href="#">Terms of Use</a>
        <a href="#">Private Policy</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="container">
      <%=image_tag('credentials.png', :id=>"credentials")%>
    </div>
  </div>
</footer>