<%= form_for [:admin, @user], html: {id: 'course-form', class: 'form-horizontal'} do |f| %>
  <%= render("shared/form_errors", :target => @user) if @user %>

  <div class="control-group">
    <%= f.label :full_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

<% end %>
