<%= form_for [:admin, @course], html: {id: 'course-form', class: 'form-horizontal'} do |f| %>
  <%= render("shared/form_errors", :target => @course) if @course %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tagline, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagline %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :additional_description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :additional_description %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :price, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :price %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :total_hours, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_hours %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :project_count, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_count %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :document_count, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :document_count %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :image, class: 'control-label' %>
    <div class="controls">
      <%= image_tag(@course.image_url) if @course.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :hero_image, class: 'control-label' %>
    <div class="controls">
      <%= image_tag(@course.hero_image_url) if @course.hero_image? %>
      <%= f.file_field :hero_image %>
      <%= f.hidden_field :hero_image_cache %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :video_image, class: 'control-label' %>
    <div class="controls">
      <%= image_tag(@course.video_image_url) if @course.video_image? %>
      <%= f.file_field :video_image %>
      <%= f.hidden_field :video_image_cache %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :instructor_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :instructor_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :instructor_title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :instructor_title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :instructor_description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :instructor_description %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :instructor_image, class: 'control-label' %>
    <div class="controls">
      <%= image_tag(@course.instructor_image_url) if @course.instructor_image? %>
      <%= f.file_field :instructor_image %>
      <%= f.hidden_field :instructor_image_cache %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.label :released, class: 'checkbox' do %>
        <%= f.check_box :released %> Released
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_date, class: 'control-label' %>
    <div class="controls">
      <%= f.date_select :start_date %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
