<!DOCTYPE html>
<html>
  <head>
    <title>Conquer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>    
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=104504556303736";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Conquer', user_signed_in? ? user_root_path : root_path, class: 'brand' %>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/login_items' unless devise_controller? %>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.delete(:timedout).each do |key, msg| %>
      <div class="alert alert-<%= key == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
