<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conquer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700,900,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=104504556303736";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div id="header">
    <div class="container">
      <h1 id="logo">
        <%= link_to image_tag('logo.png', alt: 'Master Class'), user_signed_in? ? user_root_path : root_path %>
      </h1>
      <%= render 'layouts/navigation' %>
    </div>
  </div>

    <% flash.delete(:timedout).each do |key, msg| %>
      <div class="alert alert-<%= key == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
